@model TracNghiemT01.Models.TbCauHoi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbCauHoi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UuTienSuDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UuTienSuDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChiDinhDacBiet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChiDinhDacBiet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThuTuHienThi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThuTuHienThi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TonTai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TonTai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdChuDeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdChuDeNavigation.IdChuDe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLoaiCauHoiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLoaiCauHoiNavigation.IdLoaiCauHoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMucDoKhoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMucDoKhoNavigation.IdMucDoKho)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCauHoi">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
