@model IEnumerable<TracNghiemT01.Models.TbCauHoi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NoiDung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UuTienSuDung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChiDinhDacBiet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThuTuHienThi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TonTai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdChuDeNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLoaiCauHoiNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMucDoKhoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoiDung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UuTienSuDung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChiDinhDacBiet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThuTuHienThi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TonTai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdChuDeNavigation.IdChuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLoaiCauHoiNavigation.IdLoaiCauHoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMucDoKhoNavigation.IdMucDoKho)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCauHoi">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCauHoi">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCauHoi">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
