@model TracNghiemT01.Models.TbBaiThi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbBaiThi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenBaiThi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenBaiThi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGian)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGian)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianBatDau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianBatDau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdChuDe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdChuDe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoCauHoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoCauHoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoCauDe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoCauDe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoCauTrungBinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoCauTrungBinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoCauKho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoCauKho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiemCauDe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemCauDe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiemCauTrungBinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemCauTrungBinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiemCauKho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemCauKho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThuTuHienThi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThuTuHienThi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TonTai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TonTai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSinhVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSinhVien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLanToiDaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLanToiDaNavigation.IdLoaiCauHoi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdBaiThi">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
