@model IEnumerable<TracNghiemT01.Models.TbSinhVien>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenDangNhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatKhau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sdt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThuTuHienThi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TonTai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdBaiThiNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdKetQuaChiTietNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdKetQuaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDangNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThuTuHienThi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TonTai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdBaiThiNavigation.IdBaiThi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdKetQuaChiTietNavigation.IdKetQuaChiTiet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdKetQuaNavigation.IdKetQua)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSinhVien">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdSinhVien">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSinhVien">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
